.contain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.upchild {
    display: flex;
    flex-direction: column;
}

.downchild {
    display: flex;
    flex-direction: column;
}

.para {
    background-color: #b1bcc4;
    margin-left: 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 700px;
}

.upbtn {
    margin-right: 5px;
}

.downbtn {
    margin-right: 5px;

}

.upspan {
    background-color: #b1bcc4;
    margin-right: 5px;
    margin-top: 5px;

}

.downspan {
    background-color: #b1bcc4;
    margin-right: 5px;
    margin-top: 5px;


}
